@model VEB.Models.DoAn

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h3 class="text-danger">Xác nhận xóa món ăn này ?</h3>
<div>
    <hr />
    <div class="card-body p-3">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Mã đồ ăn</th>
                    <th>Tên đồ ăn</th>
                    <th>Ảnh</th>
                   

                </tr>
            </thead>
            <tbody>
              
                    <tr>
                        <td>@Model.maDoAn</td>
                        <td>@Model.tenDoAn</td>
                        <td>@Model.HinhURL</td>
                    </tr>
                
            </tbody>
        </table>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
