@model IEnumerable<VEB.Models.DoAn>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <strong class="text-uppercase text-danger">Danh sách sản phẩm</strong>

            </div>
            <div class="col-md-6 text-end">
                <a href="@Url.Action("Create","DoAns")" class="btn btn-success ">Thêm đồ ăn </a>
            </div>
        </div>
    </div>
    <div class="card-body p-3">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Mã đồ ăn</th>
                    <th>Tên đồ ăn</th>
                    <th>Ảnh</th>
                    <th>Thông tin chi tiết</th>
                    <th style="width:400px;" class="text-center">Chức năng</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@item.maDoAn</td>
                        <td>@item.tenDoAn</td>
                        <td>@item.HinhURL</td>
                        <td><a href="@Url.Action("Index","ThongTinDoAns",new{@maDoAn=item.maDoAn})">Thông tin chi tiết</a></td>


                        <td style="width:180px;" class="text-center">
                            <a href="@Url.Action("Edit","DoAns",new { @maDoAn = item.maDoAn })" class="btn btn-success">Chỉnh sửa</a>
                            <a href="@Url.Action("Details","DoAns",new { @maDoAn = item.maDoAn })" class="btn btn-success">Xem</a>
                            <a href="@Url.Action("Delete","DoAns",new { @maDoAn = item.maDoAn })" class="btn btn-danger">Xóa</a>

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>




















