@model VEB.Models.NuocUong

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-header">
            <h4>Chỉnh sửa thông tin nước uống</h4>
        </div>

        <div class="card-body">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <h6 class="text-success">Mã nước: @Model.maNuoc</h6>
            </div>

            <div class="form-group">
                <h6 class="text-success">Nhập tên nước uống:</h6>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tenNuoc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tenNuoc, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <h6 class="text-success">Nhập đơn vị bán:</h6>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.donViBan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.donViBan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <h6 class="text-success">Nhập giá bán:</h6>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.giaBanNuoc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.giaBanNuoc, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <h6 class="text-success">Chọn ảnh:</h6>
                <input type="file" name="fileupload" />
                @ViewBag.thongBao
            </div>
        </div>

        <div class="card-footer">
            <div class=" text-end">
                <input type="submit" value="Sửa" class="btn btn-success" />
                <b></b>
                <a href="@Url.Action("Index","NuocUongs")">Quay lại</a>
            </div>
        </div>
    </div>
}


