
@using VEB.Models
@model VEB.Models.UserLoginModel
@{
    ViewBag.Title = "Log in";
}
<h2>@ViewBag.Title.</h2>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Assets/css/styles.css" />
</head>
<body>
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                                             style="width: 185px;" alt="logo">
                                        <h4 class="mt-1 mb-5 pb-1">HUFI FOOD Team</h4>
                                    </div>

                                    <form>
                                        <p>ĐĂNG NHẬP</p>
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example11">Tài khoản</label>
                                            @*@Html.LabelFor(model => model.tenDangNhap)*@
                                            @Html.TextBoxFor(model => model.tenDangNhap, new { @class = "form-control" })
                                            @*placeholder="Nhập tài khoản..." />*@
                                            @Html.ValidationMessageFor(model => model.tenDangNhap)
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example22">Mật Khẩu</label>
                                            @*<input type="password" id="form2Example22" class="form-control"*@
                                            @*@Html.LabelFor(model => model.matKhau)*@
                                            @Html.PasswordFor(model => model.matKhau, new { @class = "form-control" })
                                            @*placeholder="Nhập mật khẩu..." />*@
                                            @Html.ValidationMessageFor(model => model.matKhau)
                                        </div>

                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">
                                                Đăng Nhập
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <h4 class="mb-4">Hội Quán Thức Ăn Nhanh</h4>
                                    <p class="small mb-0">
                                        Giúp bạn giải tỏa cơn đói bất kì lúc nào bạn cần!!!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}



