@model VEB.Models.LoaiSanPham

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="text-success">Thêm mới loại sản phẩm</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
           <h5>Nhập mã loại sản phẩm muốn thêm:</h5>
            <div class="col-md-10">
                @Html.EditorFor(model => model.maLoaiSanPham, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.maLoaiSanPham, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h5>Nhập tên loại sản phẩm muốn thêm:</h5>
            <div class="col-md-10">
                @Html.EditorFor(model => model.tenLoaiSanPham, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tenLoaiSanPham, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 py-xl-5 modal-dialog-centered">
                <input type="submit" value="Create" class="btn btn-success" />
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}



