@model VEB.Models.LoaiKhuyenMai

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-header">
            <h4>Xóa loại khuyến mãi</h4>
        </div>

        <div class="card-body">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div>
                <h6 class="text-success">Xác nhận xóa loại khuyến mãi @Model.maLoaiKhuyenMai ?</h6>
            </div>

            <div>
                <h6 class="text-success">Tên loại khuyến mãi: @Model.tenLoaiKhuyenMai</h6>
            </div>
        </div>


        <div class="card-footer">
            <div class=" text-end">
                <input type="submit" value="Xác nhận" class="btn btn-success" />
                <b></b>
                <a href="@Url.Action("Index","LoaiKhuyenMais")">Quay lại</a>
            </div>
        </div>
    </div>
}