@model VEB.Models.NhanVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NhanVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChucDanh.tenChucDanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucDanh.tenChucDanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiNhanVien.tenLoaiNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiNhanVien.tenLoaiNhanVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenNhanVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diaChi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maNhanVien }) |
    @Html.ActionLink("Back to List", "Index")
</p>
